@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Varela+Round&display=swap');

:root {
  /* theme colors */
  --dark: #292A2D;
  /* category colors */
  --green: #1BFF91;
  --yellow: #FFE74C;
  --red: #CC2936;

  --blue: #1293CE;

  /* other variables */
  --transition: cubic-bezier(0.32,0.31,0.41,1.27);
}

/* ANIMATIONS */
/* for progress bars */
@keyframes grow {
  0% { width: 0; }
}

.animate-grow {
  animation: grow 0.5s var(--transition);
  /* animation: grow 0.5s ease-out; */
}
/* page transitions */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }
}
body {
  animation: fade-in 0.5s var(--transition);
}
html, body {
  width: 300px;
  height: 300px;
  background-color: var(--dark);
  margin: 0;
  padding: 0;
  font-family: "DM Sans";
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
p {
  size: 10px;
  color: white;
}

p.p2 {
  size: 5px;
  color: silver;
}

p.p3 {
  size: 15px;
}

label {
  size: 15px;
  color: white;
  display: inline-block;
  margin-left: 30px;
}

/* input {
  float:right;
  margin-right:40px;
} */

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  size: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(auto-fill, 80px);
  grid-auto-rows: 80px;
  grid-gap: 20px;
  justify-content: center;
}

.grid > button {
  border-radius: 1em;
  border: none;
  font-family: "Varela Round";
  cursor: pointer;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  transition: 0.2s var(--transition);
}

.grid > button:hover {
  transform: scale(1.1);
}

.grid > button.selected {
  transform: scale(1.1);
  border: 0.2em solid var(--blue);
  color: var(--blue);
}

.split_top {
  float: top;
  /* height: 60%; */
}

.split_bottom {
  float: bottom;
  /* height: 40%; */
  background-color: #202124;
  /* margin-left: -8px; */
}

.split_left {
  float:left; 
  width:20%;
}

.split_right {
  float:right; 
  width:80%;
}

.button1 {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 10px;
  cursor: pointer;
  background-color: #6FBF77; 
  border-radius: 25px;
  width: 80%;
  margin: 1.5em auto;
  font-family: "Varela Round";
  font-weight: bold;
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

.button2 {
  border: none;
  color: white;
  left:50px;
  width: 280px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size:10px;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #3e413e;
  border-radius: 25px;
}

.button3 {
  border: none;
  color: white;
  left:50px;
  width: 280px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size:10px;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4CAF50;
  border-radius: 25px;
}

.btn-group button {
  background-color: #606360; /* background */
  border: 1px solid #606360; /* border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin:5px;
  border-radius: 25px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.button4 {
  border: none;
  color: white;
  left:50px;
  width: 200px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size:10px;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4CAF50;
  border-radius: 25px;
  background-image: linear-gradient(to right, #4CAF50 0%, white 51%, white 100%)
}

.button5 {
  border: none;
  color: white;
  left:50px;
  width: 150px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size:10px;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #c3e409;
  border-radius: 25px;
  background-image: linear-gradient(to right, #c3e409 0%, white 51%, white 100%)
}

.button6 {
  border: none;
  color: white;
  left:50px;
  width: 00px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size:10px;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #d63a13;
  border-radius: 25px;
  background-image: linear-gradient(to right, #d63a13 0%, white 51%, white 100%)
}

.new_div {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
}

#settings-edit {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#settings-edit p {
  margin: 0; 
}

.button7 {
  border: none;
  color: var(--dark);
  font-weight: bold;
  font-family: "Varela Round";
  left:50px;
  width: 100px;
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none;
  font-size:10px;
  display: inline-block;
  font-size: 10px;
  margin: 4px 30px 4px 50px;
  cursor: pointer;
  background-color: rgb(223, 219, 219);
  border-radius: 25px;
}

#main-menu {
  color: #fff;
  text-align: center;
  width: 100%;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}

.progress-bar {
  height: 10px;
  margin: 1em;
  position: relative;
  background: #fff;
  border-radius: 25px;
  display: flex;
  align-items: flex-start;
  /* box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3); */
}

.progress-bar > span {
  display: block;
  height: 100%;
  background-color: var(--green);
  /* background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  ); */
  /* box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4); */
  position: relative;
}

.progress-bar > span:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.progress-bar > span:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.progress-bar > span > .tooltip {
  position: relative;
  bottom: calc(100% + 1em);
}

.progress-bar > span.yellow {
  background-color: var(--yellow);
}

.progress-bar > span.red {
  background-color: var(--red);
}

#stats-progress {
  margin-top: 3em;
}

/* flagged videos */
#flagged-categories, #flagged-channels {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 0;
}

.flag-input-group {
  display: flex;
}

#submit-category, #submit-channel {
  display: inline;
}

.pill {
  background-color: var(--blue);
  color: #fff;
  border-radius: 1em;
  border: 0.1em solid #fff;
  padding: 0.25em 1em;
}

.pill button {
  background-color: #fff;
  color: var(--blue);
  border: none;
  border-radius: 50%;
  margin-left: 0.2em;
}